---
import { ViewTransitions } from 'astro:transitions'
import Layout from '../layouts/Layout.astro'

// Landing page for LadyLooArt.com
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title class="">LadyLooArt</title>
    <ViewTransitions transition:animate={'fade'} />
  </head>
  <body>
    <Layout>
      <div class="w-1/2"></div>
    </Layout>
  </body>
</html>
