---
interface Props {
  backgroundColor?: string
}

const { backgroundColor = 'bg-white' } = Astro.props
---

<div class=`flex justify-center ${backgroundColor} w-full artwork-section`>
  <div class="px-4 lg:px-12 py-4 lg:py-6 xl:py-8 w-full lg:w-3/4 items-center">
    <slot />
  </div>
</div>
