---
import { TOOLTIP } from '../content/strings'
---

<div
  id="fadeComponent"
  class="absolute z-50 top-36 mr-12 right-0 border-r-0 border-l-0 border-b-0 border-white border-2 bg-white lg:bg-transparent bg-opacity-90 text-slate-700 lg:text-white p-4 w-40 rounded-md text-center flex-col justify-between font-bold"
>
  <p>{TOOLTIP}</p>
</div>

<script is:inline src="/scripts/fade-component.js" defer></script>
