---
import ArtworkModal from '../components/ArtworkModal.astro'
import Navbar from '../components/Navbar.astro'
---

<html lang="en">
  <head>
    <title>{'Home'}</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <Navbar />
    </header>
    <main class="w-full justify-center flex">
      <ArtworkModal />
      <slot />
    </main>
    <script
      is:inline
      src="/public/scripts/artwork-card-scroll-listener.js"
      defer></script>
    <script is:inline src="/public/scripts/artwork-modal.js" defer></script>
  </body>
</html>
